{% extends 'base.html' %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'inc/_categories.html' %}
    </div>
    <div class="col-md-9">
        <div class="row row-cols-md-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'detail' product.slug %}">
                        <img src="{{ product.photo.url }}" class="card-img-top" alt="" height="225"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% if product.discount %}
                        <h5 class="card-title">Скидка! {{ product.discount }}{{ product.currency_char }}</h5>
                        {% else %}
                        <h5 class="card-title">{{ product.price }}{{ product.currency_char }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
