{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-md-3">
            <div class="col">
                <img src="{{ product.photo.url }}" class="card-img-top" alt="" width="">
                <div>
                    <form id='add_form' action="{% url 'cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ add_form.as_p }}
                        <button type="submit" class="btn btn-light">Добавить в корзину</button>
                    </form>
                    <a class="btn btn-light" href="{% url 'cart' %}" role="button">Перейти в корзину</a>
                </div>
            </div>
            <div class="col">
                <h3>{{ product.name }}</h3>
                {% if product.discount %}
                <h6><s>{{ product.price }}{{ product.currency_char }}</s></h6>
                <h4>{{ product.discount }}{{ product.currency_char }}</h4>
                {% else %}
                <h5>{{ product.price }}{{ product.currency_char }}</h5>
                {% endif %}
                <p>{{ product.description }}</p>
                {% if reviews %}
                <div class="list-group">
                    {% for review in reviews %}
                    <a href="{% url 'reviews' product.slug %}" class="list-group-item">
                        <h6>{{ review.author }}</h6>{{ review.text_content }}
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <h6>Кажется отзывов еще нет, вы можете стать первым!</h6>
                {% endif %}
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Категория</th>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Цвет</th>
                        <td>{{ product.color }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Контакты продавца</th>
                        <td>{{ product.contacts }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Всего продано</th>
                        <td>{{ product.total_purchased }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if request.user.is_authenticated %}
                <form id='review_form' action="{% url 'review_add' product.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="userfromform" value="{{ user.id }}">
                    {{ review_form.as_p }}
                    <button type="submit" class="btn btn-light">Оставить отзыв</button>
                </form>
                {% else %}
                Чтобы оставить отзыв необходимо авторизоваться
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
