{% extends 'base.html' %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-md-4">
            {% if object_list %}
            {% for product in object_list %}
            <div class="col">
                {% if product.discount %}
                <div class="card border-warning mb-3" style="max-width: 18rem;">
                    {% else %}
                    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        {% endif %}
                        <a href="{% url 'detail' product.slug %}">
                            <img src="{{ product.photo.url }}" class="card-img-top" alt="" height="225">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            {% if product.discount %}
                            <h5>{{ product.discount }}₽</h5>
                            {% else %}
                            <h5>{{ product.price }}₽</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>Похоже ничего не нашлось</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
