{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-md-3">
            <div class="col">
                <img src="{{ product.photo.url }}" class="card-img-top" alt="" width="">
            </div>
            <div>
                <h3>{{ product.name }}</h3>
                <p>art: {{ product.article }}</p>
                {% if product.discount %}
                    <h5>Скидка!</h5><br>
                    <h4>было {{ product.price }}{{ product.currency_char }}</h4>
                    <h4>стало {{ product.discount }}{{ product.currency_char }}</h4>
                {% else %}
                    <h5>{{ product.price }}{{ product.currency_char }}</h5>
                {% endif %}
                <p>{{ product.description }}</p>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Категория</th>
                            <td>{{ product.category }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Цвет</th>
                            <td>{{ product.color }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Всего продано</th>
                            <td>{{ product.total_purchased }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form action="{% url 'cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-light">Добавить в корзину</button>
                </form>
                <a class="btn btn-light" href="{% url 'cart' %}" role="button">Перейти в корзину</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
